<%- include('../includes/head',{title:"Buscar Profissional"}) %>
<body>
  <div class="sr-grid-container">
    <div class="sr-header">
      <%- include('../includes/header') %>  
    </div>
    <div class="sr-search">
      <form class="sr-search-grid" action="" method="GET">
        <div class="services-input">
          <label class="services-input__title" for="services">Serviços</label>
          <select class="pet-services" name="services" id="services">
            <option value="" selected>Todos os serviços
            </option>
            <% for(let i=0; i<input_services.length; i++){ %>
              <option value="<%= input_services[i].id %>"><%= input_services[i].name %></option>
            <% } %>
          </select>
        </div>
        <div class="neighborhood-input">
          <label class="neighborhood-input__title" for="neighborhood">Bairro</label>
          <select class="neighborhood" name="neighborhood" id="neighborhood">
            <option value="" selected>Todos os bairro</option>
            <% for(let i=0; i<input_neighborhoods.length; i++){ %>
              <option value="<%= input_neighborhoods[i].id %>"><%= input_neighborhoods[i].name %></option>
            <% } %>
          </select>
        </div>
        <div class="pickdate-input">
          <label class="pickdate-input__title" for="date">Data</label>
          <select class="pickdate" name="date" id="date">
            <option value="" selected>Datas disponíveis</option>
            <% for(let i=0; i<input_date_range.length; i++){ %>
              <option value="<%= input_date_range[i][0] %>"><%= input_date_range[i][1] %></option>
            <% } %>
          </select>
        </div>
        <div class="petweight-input" style="display:none">
          <label class="petweight-input__title" for="pet-weight">Meu pet</label>
          <select class="pet-weight" name="pet-weight" id="pet-weight">
            <option value="" selected disabled>Selecione uma categoria</option>
            <% for(let i=0; i<petTypes.length; i++){ %>
              <option value="<%= petTypes[i].id %>"><%= petTypes[i].name %></option>
            <% } %>
          </select>
        </div>
        <div class="search-btn-submit">
          <input id="search-btn-submit__button" class="search-btn-submit__button" type="submit" value="BUSCAR">
        </div>
      </form>
    </div>
    <div id="sr-search-results" class="sr-search-results">
      <div class="sr-results-pages">
        <ul class="pages">
          <li class="pages__page1">01</li>
          <li class="pages__page2">02</li>
          <li class="pages__page3">03</li>
          <li class="pages__page4">04</li>
          <li class="pages__page5">05</li>
          <li class="pages__page6">06</li>
          <li class="pages__more"></li>
        </ul>
      </div>
    </div>
    <div class="sr-footer">
      <%- include('../includes/footer') %> 
    </div>
    <script>
      async function getProfessionals(services, neighborhood, date){
        let content = document.getElementById('sr-search-results');
        let query = `/professionals/search?services=${services}&neighborhood=${neighborhood}&date=${date}`
        const res = await fetch(query);
        const professionals = await res.json();

        let professional = '';
        let stars = '';
        content.innerHTML = '';
        
        for(let i=0; i<professionals.length; i++){
          let fullStar = Math.round(professionals[i].stars);
          for(let j=0; j<5; j++){
            stars += j < fullStar 
              ? `<li class="sr-stars__star sr-stars__star--active"></li>`
              : `<li class="sr-stars__star"></li>`
          }
          let photo = professionals[i].photo ? professionals[i].photo : "250x250.png"
          professional += `
            <div class="sr-search-results-grid">
              <div class="sr-name"><h2 class="sr-name__pro3">${professionals[i].name}</h2></div>
              <div class="sr-stars">
                <ul class="sr-stars__rating">
                  ${stars}
                </ul> 
              </div>
              <div class="sr-img"><section class="sr-img__pro3"><img src="/img/professionals/${photo}" alt="${professionals[i].name}"></section></div>
              <div class="sr-pro-info">
                <section class="sr-pro-info__pro3">
                  <p class="sr-pro-info__pro3-skills">${professionals[i].about_me}</p>
                  <p class="sr-pro-info__pro3-pricing">A partir de <span class="sr-pro-info__pro3-value">R$${Math.min.apply(Math, professionals[i].all_prices.split(','))}</span></p>
                </section>
              </div>
              <div class="sr-service-area">
                <section class="sr-service-area__pro3">
                  ${professionals[i].all_neighborhoods.split(',').sort().join(', ')}
                </section>
              </div>
              <div class="sr-btn-book"><a href='/professionals/${professionals[i].id}-${professionals[i].name.toLowerCase().split(" ").join('-')}'><input class="sr-btn-book__pro3" type="button" value="MAIS DETALHES"></a></div>
            </div>
          `;
          stars = '';
        }
        content.innerHTML = professional;
      }

      window.onload = async function(){
        let searchBtn = document.getElementById('search-btn-submit__button');
        searchBtn.addEventListener('click', event => {
          event.preventDefault();
          
          let services = document.getElementById('services');
          let neighborhood = document.getElementById('neighborhood');
          let date = document.getElementById('date');

          getProfessionals([services.value], neighborhood.value, date.value);
        }, false);

        let queryParams = new URLSearchParams(location.search);
        let services = queryParams.get('services');
        services = services ? services.split(',').map(Number) : '';
        let neighborhood = queryParams.get('neighborhood');
        neighborhood = neighborhood ? neighborhood : '';
        let date = queryParams.get('date');
        date = date ? date : '';
        getProfessionals(services, neighborhood, date);
      }
    </script>
  </div>
</body>