<%- include('../includes/head',{title:"Home"}) %>
<%- include('../includes/flash_messages') %>
<body>
  <%- include('../includes/flash_messages') %>

  <div class="home-grid-container">
    <div class="home-header">
      <%- include('../includes/header') %>
    </div>
    <div class="home-banner"><h1 class="home-banner__slogan">Encontre os <span class="home-banner__slogan--hl">melhores</span> profissionais de <span class="home-banner__slogan--hl">São Paulo</span> para cuidar do seu pet.</h1></div>
    <div class="home-search">
      <form class="home-search-grid" action="/professionals" method="get">
        <div class="home-services">
          <label class="home-services__title">Serviços</label>
        </div>
        <div class="home-dog-training">
          <input name='adestramento' 
            serviceid='<% for(let i=0; i<input_services.length; i++) { %>
                <% if(input_services[i].name == 'Adestramento') { %>
                  <%= input_services[i].id %>
                <% } %>
              <% } %>' 
              id="btn-1" type="checkbox" class="home-search__link-btn home-search__link-btn--t">
          <label class="dog-training-btn" for="btn-1">Adestramento</label>
        </div>
        <div class="home-pet-shower">
          <input name='banho'
            serviceid='<% for(let i=0; i<input_services.length; i++) { %>
              <% if(input_services[i].name == 'Banho') { %>
                <%= input_services[i].id %>
              <% } %>
            <% } %>'  id="btn-2" type="checkbox" class="home-search__link-btn home-search__link-btn--sh">
          <label class="pet-shower-btn" for="btn-2">Banho</label>
        </div>
        <div class="home-dog-sitter">
          <input name='pet_sitting'
          serviceid='<% for(let i=0; i<input_services.length; i++) { %>
            <% if(input_services[i].name == 'Pet Sitting') { %>
              <%= input_services[i].id %>
            <% } %>
            <% } %>' 
           id="btn-3" type="checkbox" class="home-search__link-btn home-search__link-btn--st">
          <label class="dog-sitter-btn" for="btn-3">Pet sitting</label>
        </div>
        <div class="home-dog-walk">
          <input name='dog_walking'
            serviceid='<% for(let i=0; i<input_services.length; i++) { %>
              <% if(input_services[i].name == 'Dog Walking') { %>
                <%= input_services[i].id %>
              <% } %>
            <% } %>'
            id="btn-4" type="checkbox" class="home-search__link-btn home-search__link-btn--dw">
          <label class="dog-walk-btn" for="btn-4">Dog Walking</label>
        </div>
        <div class="home-dog-groom">
          <input name='tosa'
            serviceid='<% for(let i=0; i<input_services.length; i++) { %>
              <% if(input_services[i].name == 'Tosa') { %>
                <%= input_services[i].id %>
              <% } %>
            <% } %>' 
           id="btn-5" type="checkbox" class="home-search__link-btn home-search__link-btn--dg">
          <label class="dog-groom-btn" for="btn-5">Tosa</label>
        </div>
        <div class="home-neighborhood">
          <label class="home-city-regions" for="home-city-regions">Bairro</label>
          <select class="choose-city-region" name="neighborhood" id="home-city-regions">
            <option value="" selected>Todos os bairros</option>
            <% for(let i=0; i<input_neighborhoods.length; i++){ %>
              <option value="<%= input_neighborhoods[i].id %>"><%= input_neighborhoods[i].name %></option>
            <% } %>
          </select>
        </div>
        <div class="home-date-time">
          <label class="home-date" for="choose-date">Data</label>
          <select class="choose-date" name="date" id="choose-date">
            <option value="" selected>Todas as datas</option>
            <% for(let i=0; i<input_date_range.length; i++){ %>
              <option value="<%= input_date_range[i][0] %>"><%= input_date_range[i][1] %></option>
            <% } %>
          </select>
        </div>
        <div class="home-my-pet">
          <label class="home-pet" for="pet-weight">Meu Pet</label>
          <select class="choose-pet-weight" name="pet-weight" id="pet-weight">
            <option value="" selected>Todos os pets</option>
            <% for(let i=0; i<input_pet_types.length; i++){ %>
              <option value="<%= input_pet_types[i].id %>"><%= input_pet_types[i].name %></option>
            <% } %>
          </select>
        </div>
        <div class="home-search-btn">
          <input id='home-search-btn__input' class="home-search-btn-input" type="submit" value="BUSCAR">
        </div>
      </form>
    </div>
    <div class="home-professionals">
      <h1 class="pro-card-description-mobile">Nossos Profissionais <hr></h1>
      <div class="pro-card-grid">
        <div class="pro-cards-description">
          <h1 class="pro-cards-description__title">Profissionais em destaque por região</h1>
          <h2 class="pro-cards-description__subtitle">Conheça os profissionais mais bem avaliados de São Paulo</h2>
        </div>
        <div class="pro-card1">
          <img class="pro-card1__img" src="" alt="">
          <section class="pro-card-user-info">
            <h6 class="pro-card1__name">Luana Ferreira</h6>
          <p class="pro-card1__about">Paulista e apaixonada por todos os tipos de pets.</p>
          <p class="pro-card1__skills">Dog Sitter, Dog Walking</p>
          </section>
        </div>
        <div class="pro-card2">
          <img class="pro-card2__img" src="" alt="">
          <section class="pro-card-user-info">
            <h6 class="pro-card2__name">André A. Moreira</h6>
          <p class="pro-card2__about">Carioca e pai do Thomas. +3 anos de experiência como adestrador.</p>
          <p class="pro-card2__skills">Adestrador</p> 
          </section>
        </div>
        <div class="pro-card3">
          <img class="pro-card3__img" src="" alt="">
          <section class="pro-card-user-info">
            <h6 class="pro-card3__name">Paulo Guedes</h6>
          <p class="pro-card3__about">Premiado cuidador, com experiência em banho e tosa.</p>
          <p class="pro-card3__skills">Banho, Dog Sitter, Tosa</p> 
          </section>
        </div>
        <div class="pro-card4">
          <img class="pro-card4__img" src="" alt="">
          <section class="pro-card-user-info">
            <h6 class="pro-card4__name">Mariana Costa</h6>
            <p class="pro-card4__about">Mãe de 6 pets. Experiência em cuidados com cães e idosos.</p>
            <p class="pro-card4__skills">Dog Sitter</p> 
          </section>
        </div>
      </div> 
    </div>
    <div class="home-testimonial">
      <div class="home-testimonial-grid">
        <div class="ttmnl-user"><i class="fa fa-quote-left" style="color:#000;"></i><p class="ttmnl-user__quote"></i><br>Muito prático e fácil de mexer! Consegui encontrar tanto um adestrador para o Thor, que tinha um comportamento bem difícil e também um ótimo lugar para levá-lo para o banho! Super recomendo!<br></p><i class="fa fa-quote-right" style="color:#000;width:100%;text-align:right;"></i>
          <p class="ttmnl-username"><i class="fa fa-user" style="color:#010101;"> </i> Felipe Castro Melo Neto e o Thor em 26/06/2020</p>
        </div>
        <div class="ttmnl-user-image"></div>
      </div>
    </div>
    <div class="home-main-faq">
      <div class="home-faq-grid">
        <div class="home-faq-title">
          <h2 class="faq-title">Perguntas Frequentes</h2><hr>
        </div>
        <div class="home-faq-q1">
          <p class="faq-question">O que é a SuperPets?</p>
          <p class="faq-answer">A SuperPets é uma plataforma 100% digital que promete unir os melhores profissionais do mercado pet com os donos de pets, permitindo buscar os profissionais mais bem avaliados e realizar agendamentos online de serviços como: adestramento, banho, tosa, hospedagem e passeio. Mais que um agendador, trazemos informação para que o dono do pet tenha tudo que precisa para escolher o prestador de serviço mais adequado para as suas diferentes necessidades.</p>
        </div>
        <div class="home-faq-q2">
          <p class="faq-question">Como sei se os profissionais são confiáveis e qualificados?</p>
          <p class="faq-answer">Todos os profissionais cadastrados na nossa plataforma passam por um rigoroso processo de seleção. A partir do perfil do profissional, é possível verificar todos os seus dados, comentários e avaliações de outros usuários. Além disso, exigimos para alguns tipos de serviço, como o adestramento e tosa, cursos específicos.</p>
        </div>
        <div class="home-faq-q3">
          <p class="faq-question">Qual a garantia que tenho ao contratar um serviço?</p>
          <p class="faq-answer">Tomamos todas as medidas possíveis para garantir a satisfação dos nossos clientes, aprimorando sempre nossos processos de seleção dos profissionais e promovendo workshops e eventos que ajudam a nossa comunidade de prestadores de serviço se manterem sempre atualizados e qualificados. Apesar disso tudo, sabemos que nem sempre as coisas ocorrem como deveriam. Nestes casos, contamos com um time de atendentes que te ajudarão a resolver o seu problema.</p>
        </div>
      </div>
    </div>
    <div class="home-footer">
      <%- include('../includes/footer') %>
    </div>
  </div>
  <script>
    window.onload = function(){
      let searchBtn = document.getElementById('home-search-btn__input');
      searchBtn.addEventListener('click', event => {
        event.preventDefault();
        let services=[];
        
        // adestramento
        let adestramento = document.getElementById('btn-1');
        if (adestramento.checked) services.push(adestramento.getAttribute('serviceid').trim());

        // banho
        let banho = document.getElementById('btn-2');
        if (banho.checked) services.push(banho.getAttribute('serviceid').trim());

        // pet_sitting
        let pet_sitting = document.getElementById('btn-3');
        if (pet_sitting.checked) services.push(pet_sitting.getAttribute('serviceid').trim());

        // dog_walking
        let dog_walking = document.getElementById('btn-4');
        if (dog_walking.checked) services.push(dog_walking.getAttribute('serviceid').trim());

        // tosa
        let tosa = document.getElementById('btn-5');
        if (tosa.checked) services.push(tosa.getAttribute('serviceid').trim());

        // neighborhood
        let neighborhood = document.getElementById('home-city-regions').value;

        // date
        let date = document.getElementById('choose-date').value;

        // [get] request
        window.open(`/professionals?services=${services}&neighborhood=${neighborhood}&date=${date}`, '_self');

      });
    }
  </script>
  
</body>
