<%- include('../includes/head',{title:"Perfil Público Usuário"}) %>
<body>
  <%- include('../includes/flash_messages') %>

  <div class="upublicp-grid-container">
    <!-- Dados do usuário logado -->
    <div class="upublicp-header">
      <%- include('../includes/header') %>
    </div>
    <!-- Dados do perfil público -->
    <div class="upublicp__profile">
      <img class="upublicp__photo" src="<%= user ? user.photo : '/img/clients/250x250.png' %>" alt="User Photo">
      <div class="upublicp__custom-message">
        "<%= user.about_me %>"
      </div>
      <div class="upublicp__user-name">
        <%= user.name %>
      </div>
      <div class="upublicp__pet-photos">
        <% if(user.Pets.length > 0){ %>
          <% for(let i=0; i<user.Pets.length; i++){ %>
            <div class="upublicp__pet-content">
              <img class="upublicp__photos-1" src="<%= user.Pets[i].photo %>" alt="Pet Photo">
              <div class="upublicp__pet-details">
                <div class="upublicp__pet-details--name"><%= user.Pets[i].name %></div>
                <div class="upublicp__pet-details--params">Idade: </div>
                <div class="upublicp__pet-details--answers"><%= user.Pets[i].birth ? `${moment().diff(user.Pets[i].birth, 'years')} anos` : "Não informado"; %></div><br>
                <div class="upublicp__pet-details--params">Raça: </div>
                <div class="upublicp__pet-details--answers"><%= user.Pets[i].breed ?  user.Pets[i].breed : "Não informado"%></div><br>
                <div class="upublicp__pet-details--params">Tipo de Pet: </div>
                <div class="upublicp__pet-details--answers"><%= user.Pets[i].PetType.name %></div><br>
                <div class="upublicp__pet-details--params">Vacinado: </div>
                <div class="upublicp__pet-details--answers"><%= user.Pets[i].vaccinated ? "Sim" : "Não" %></div><br>
                <div class="upublicp__pet-details--params">Castrado: </div>
                <div class="upublicp__pet-details--answers"><%= user.Pets[i].castrated ? "Sim" : "Não" %></div><br>
                <div class="upublicp__pet-details--params">
                  Observações: </div><br>
                <div class="upublicp__pet-details--notes"><%= user.Pets[i].notes ? user.Pets[i].notes : "Nenhuma observação informada" %></div>
              </div>
            </div>
          <%}%>    
        <% } else { %>
          <div class="upublicp__pet-content">
              <img class="upublicp__photos-1" src="https://res.cloudinary.com/superpets/image/upload/v1592952182/pets/800x500_c1pdhr.jpg" alt="Service Photos">
              <div class="upublicp__pet-details">
                Usuário ainda não possui nenhum pet cadastrado.
              </div>
          </div>        
        <% } %>
      </div>

    </div>

    <div class="upublicp-footer">
      <%- include('../includes/footer') %> 
    </div>
  </div> 
</body>